@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-neutral-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pale-blue);
}
.container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
@media only screen and (min-width: 39em) {
  .container::before {
    top: -5rem;
    height: 60vh;
    background-image: url(../images/pattern-background-desktop.svg);
  }
}

.summary {
  z-index: 20;
  width: 86%;
  max-width: 26rem;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 2rem 3rem rgba(114, 128, 167, 0.35);
}
.summary__banner img {
  width: 100%;
}
.summary__body {
  padding: 2rem 1rem;
  text-align: center;
}
@media only screen and (min-width: 39em) {
  .summary__body {
    padding: 3rem;
  }
}
.summary__heading {
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: var(--color-dark-blue);
}
.summary__paragraph {
  margin: 0 auto 1.52rem auto;
  width: 92%;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-desaturated-blue);
}
.summary__plan {
  display: flex;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: var(--color-neutral-blue);
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}
.summary__plan div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.summary__plan p {
  font-weight: 700;
  color: var(--color-dark-blue);
}
.summary__plan span {
  display: block;
  font-weight: 500;
  color: var(--color-desaturated-blue);
}
.summary__plan a:link, .summary__plan a:visited {
  color: var(--color-bright-blue);
  transition: opacity 0.3s;
}
.summary__plan a:link:hover, .summary__plan a:visited:hover {
  opacity: 0.7;
  text-decoration: none;
}
.summary__cta-proceed {
  display: block;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-bright-blue);
  border-radius: 1rem;
  box-shadow: 0 0.7rem 3rem rgba(56, 41, 224, 0.35);
  transition: opacity 0.3s;
}
.summary__cta-proceed:hover {
  opacity: 0.7;
}
.summary__cta-cancel:link, .summary__cta-cancel:visited {
  display: block;
  font-weight: 700;
  color: var(--color-desaturated-blue);
  text-decoration: none;
  transition: color 0.3s;
}
.summary__cta-cancel:link:hover, .summary__cta-cancel:visited:hover {
  color: var(--color-dark-blue);
}

.attribution {
  display: none;
}

/*# sourceMappingURL=style.css.map */
